.footer {
    width: 100%;
    height: auto;
    background-color: #0A2238;
    position: relative;
}

.footer .col {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.footer .contain .col h1 {
    margin: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0 5px 0;
    color: #0F4C81;
    text-transform: uppercase;
    letter-spacing: 0.250em;
    text-align: center;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1390px) {
    .col{
        display: inline;
        margin: auto;
    }
    .col h1{
        text-align: center;
        margin:auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }
    .social h1 {
        margin: 0;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col h1 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}