.nav-bar {
    width: 100%;
    min-height: 60px;
    background: #263238;
    box-shadow: 0 0 15px black;
}

.nav-bar nav {
    display: block;
    position: relative;
    align-content: center;
    height: 40px;
    background: #263238;
    width: 100%;
}

.nav-bar nav a {
    text-decoration: none;
    font-size: 14px;
    color: white;
    padding: 0 20px 0 20px;
    position: relative;
    top: 15px;
    text-align: left;
    transition: 1s;
    margin-left: 32px;
}

#a1:hover {
    color: #ff9100;
}

#a2:hover {
    color: #64dd17;
}

#a3:hover {
    color: #0091ea;
}

#a4:hover {
    color: #f50057;
}

#sign_up_section {
    height: 850px;
}
