* {
    box-sizing: border-box;
}

body { 
    background: #eceff1;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: url('../../profile/assets/doodle.png');
    background-size: 30% auto;
}

.nav-bar {
    position: fixed;
    z-index: 2000;
    height: 70px;
}

#menu {
    position: relative;
    top: 20px;
    margin-left: 32px;
    cursor: pointer;
}

#greeting {
    color: white;
    margin-left: 90px;
    font-size: 18px;
    position: relative;
    bottom: 25px;
}

#login_menu_icon {
    float: right;
    position: relative;
    bottom: 64px;
    margin-right: 32px;
    z-index: 3000;
    cursor: pointer;
}

#profile_section {
    width: 90%;
    height: 900px;
    margin: auto;
    background: white;
    position: relative;
    top: 140px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    z-index: 10;
}

#picture_section {
    width: 100%;
    height: 180px;
    background: rgba(255, 68, 0, 0.75);
    border-radius: 5px 5px 0 0;
    text-align: center;
}

#about_user_section {
    margin-left: 64px;
    position: relative;
    top: 64px;
}

#about_user_section img {
    padding-right: 16px;
    position: relative;
    top: 3px;
}

#about_user_section h3 {
    font-weight: 200;
}

#about_user_biography {
    background: #eceff1;
}

#about_user_biography p {
    margin: 32px;
    padding: 32px 0;
}

/* #about_user_favorite_categories {
    background: #cfd8dc;
} */

#about_user_favorite_food {
    background: #b0bec5;
    height: 60px;
}

#about_user_favorite_restaurants {
    background: #90a4ae;
    height: 60px;
}

#about_user_shopping_list {
    background: #cfd8dc;
    height: 60px;
}

#about_user_statistics {
    height: 60px;
    background: #78909c;
}

#about_user_biography,
#about_user_favorite_categories,
#about_user_favorite_food,
#about_user_favorite_restaurants,
#about_user_shopping_list,
#about_user_statistics {
    width: 90%;
    margin: auto;
    position: relative;
    top: 100px;
    border-radius: 20px;
    cursor: pointer;
}

#about_user_favorite_categories {
    height: 300px;
}

#about_user_biography h3,
#about_user_favorite_categories h3,
#about_user_favorite_food h3, 
#about_user_favorite_restaurants h3,
#about_user_shopping_list h3,
#about_user_statistics h3 {
    font-weight: 200;
    position: relative;
    top: 14px;
    left: 32px;
}

#about_user_biography h3 {
    top: 40px;
}

#about_user_favorite_restaurants h3 {
    position: relative;
    top: 5px;
}

#restaurant_icon {
    position: relative;
    top: 10px;
}

#list_icon, #statistics_icon {
    position: relative;
    top: 5px;
}

#about_user_biography p,
#about_user_favorite_categories p,
#about_user_favorite_food p, 
#about_user_favorite_restaurants p {
    margin: 32px;
    padding: 32px 0;
}

#about_user_favorite_food, #about_user_favorite_restaurants, #about_user_shopping_list, #about_user_statistics {
    transition: 1s;
}

#about_user_favorite_food:hover, #about_user_favorite_restaurants:hover, #about_user_shopping_list:hover, #about_user_statistics:hover {
    background: rgba(255, 68, 0, 0.75);
}

#profile_picture {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    position: relative;
    top: 60px;
}

#login_menu {
    width: 200px;
    height: 140px;
    background: white;
    position: fixed;
    margin-right: 45px;
    top: 40px;
    right: -25px;
    text-align: center;
    border-radius: 3px;
    display: none;
    transition: 0.4s;
}

#login_menu a {
    position: relative;
    top: 15px;
    display: block;
    width: 100%;
    padding: 7px 0;
    text-decoration: none;
    color: #263238;
}

#login_menu a:hover,
#main_menu a:hover {
    background: #263238;
    color: white;
    transition: 0.4s;
}

#main_menu {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: white;
    text-align: center;
    display: none;
    z-index: 3000;
}

#main_menu a {
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 15px 0;
    position: relative;
    top: 50px;
    color: #263238;
    border-radius: 2px;
}

.items {
    position: relative;
    top: 30px;
    min-height: 200px;
    margin-left: 32px;
}

.favorite_icon {
    padding-right: 16px;
}

.food_category {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #6200ea;
    padding: 10px 28px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: .5s;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
}

.food_category:hover {
    background: #7c4dff;
}

.goto_icon {
    float: right;
    position: relative;
    top: 5px;
    margin-right: 64px;
}

#goto_restaurant {
    position: relative;
    top: 10px;
}

#close {
    position: relative;
    top: 32px;
    margin: auto;
    cursor: pointer;
}

.spacer {
    padding: 100px;
}

@media only screen and (max-width: 1139px) {
    #profile_section {
        height: 1540px;
    }
    .spacer {
        padding: 100px;
    }
}
